.dashboard {
    padding:  68px 90px 0 109px; 
}

.title h1 {
    font-size: 3rem;
    line-height: 24px;
    font-weight: 500;
}

.dashboard .name {
    color: rgba(255, 1, 1, 1);
}

.title p {
    margin-top: 41px;
    font-size: 1.125rem;
    line-height: 24px;
}

.containerGraphAndCard {
    width: 100%;
    display: flex;
    margin-top: 77px;
}

.containerGraph {
    display: flex;
    justify-content: space-between;
    margin-top:30px;
}

