.scoreGraph {
    position: relative;
    width: 258px;
    height: 263px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    color: #20253A;
    font-size: 15px;
    line-height: 24px;
    position: absolute;
    left: 30px;
    top: 24px;
}

.label {
    position: absolute;
    top: 95px;
    left: 83px;
    max-width: 95px;
    text-align: center;
}

.label p:nth-child(1) {
    color: #282D30;
    font-size: 26px;
    font-weight: 700;
}

.label p:nth-child(2) {
    color: #74798C;
    font-size: 16px;
    line-height: 26px;
}